<% if admin_signed_in? %>

    <div class="jumbotron">

      <div class="row">

        <div class="col-md-8">

          <h3>Bienvenido Administrador</h3>
          <h4>&nbsp;</h4>
          <h4>Tareas pendientes: </h4>
          <%= render :partial => 'notificaciones/notificaciones.html.erb' %>

        </div>

      </div>

    </div>

<% else %>

    <div class="jumbotron">

      <div class="row">

        <div class="col-md-8">

          <h1>UTPL</h1>
          <h3>Sistema de Gestión Vehicular</h3>

          <% if user_signed_in? %>

              <h2>BIENVENIDO!</h2>

          <% end %>

          <% if admin_signed_in? %>

              <div class="btn">

              </div>


          <% elsif user_signed_in? %>

              <div class="btn">

              </div>

          <% else %>

              <div class="btn">

                <%= link_to raw('<span class="glyphicon glyphicon-user" aria-hidden="true"></span> INICIAR SESIÓN'), new_user_session_path, class: "btn btn-primary" %>


              </div>


          <% end %>

        </div>

        <div class="col-md-4">


          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Universidad_Técnica_Particular_de_Loja.png/200px-Universidad_Técnica_Particular_de_Loja.png" class="logo" id="logo-inicio">

          <% if admin_signed_in? %>


          <% elsif user_signed_in? %>

          <% else %>

              <%= link_to raw('<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>'), new_admin_session_path, class: "admin" %>

          <% end %>


        </div>

      </div>

    </div>


<% end %>

<% if admin_signed_in? && user_signed_in? %>

<% else %>

    <footer>


    </footer>




<% end %>




