<div class="page-header">
  <h1>Orden de Combustible <small>Nueva</small></h1>
</div>

<div class="container">

  <div class="row">

    <div class="col-xs-12 col-sm-6 col-md-8">

      <%= render 'form', orden_combustible: @orden_combustible %>

      <%= link_to 'Regresar', orden_combustibles_path, class: "btn btn-default" %>

    </div>
    <div class="col-xs-6 col-md-4">

      <br>

      <%=	 render partial: 'orden_combustibles/history', object: @orden_combustibles %>

    </div>

  </div>

</div>






