<html>

<head>

  <meta content="text/html"; charset="UTF-8" http-equiv='Content-Type'>

</head>

<body>

<h2>Notificación de Registro</h2>
<h3>Sistema de Gestión Vehicular UTPL</h3>

<p>
  <strong>
    Estimado <%=	 @chofer.nombres %> <%=	 @chofer.apellidos %>
  </strong>
</p>

<p>

  Usted ha sido registrado satisfactoriamente como conductor en el Sistema de Gestión Vehicular UTPL.

</p>

<p>Saludos.</p>


</body>

</html>