<html>

<head>

  <meta content="text/html"; charset="UTF-8" http-equiv='Content-Type'>

</head>

<body>

<h2>Notificación de Registro</h2>
<h3>Sistema de Gestión Vehicular UTPL</h3>

<p>
  <strong>
    Estimado <%=	 @user.name %> <%=	 @user.last_name %>
  </strong>
</p>

<p>

  Lamentamos informar que su registro ha sido rechazado debido a inconsistencias en su información, por favor inténtelo nuevamente.

</p>


</body>

</html>