<h1>Editando Vehiculo</h1>

<%= render 'form', vehiculo: @vehiculo %>

<div>

  <%= link_to 'Show', @vehiculo, class: "btn btn-default" %>
  <%= link_to 'Back', vehiculos_path, class: "btn btn-default"%>

</div>


