<div class="page-header">
  <h1>Vehículo <small>Nuevo</small></h1>
</div>

<%= render 'form', vehiculo: @vehiculo %>

<div class="button">
  <%= link_to 'Regresar', vehiculos_path, class:"btn btn-default" %>
</div>

