<html>

<head>

  <meta content="text/html"; charset="UTF-8" http-equiv='Content-Type'>

</head>

<body>

<h2>Notificaci칩n de Registro</h2>
<h3>Sistema de Gesti칩n Vehicular UTPL</h3>

<p>
  <strong>
  Estimado <%=	 @user.name %> <%=	 @user.last_name %>
  </strong>
</p>

<p>

  Su proceso de registro ha sido completado satisfactoriamente, inmediatamente podr치 acceder a la plataforma
  con su correo y contrase침a proporcionados.

</p>


</body>

</html>