// Place all the styles related to the Prestamos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media print {

  div.printable{

    display: block;

  }

  div.no-printable{

    display: none;

  }

  td.no-printable{

    display: none;

  }

  th.no-printable{

    display: none;

  }



}

div.panel-primary{

  background-color: #003f72;
  color: #003f72;

}

div.panel-primary > .panel-heading{

  background-color: #003f72;

}


div#tabla-prestamo_wrapper.dataTables_wrapper.no-footer{

  width: 100%;


}

div.container{

  width: 100%;


}


#calendar{

  width: 90%;

}

div.fc-left{

  text-transform: capitalize;

}


