<h1>Editar Orden Mantenimiento</h1>

<%= render 'form', orden_mantenimiento: @orden_mantenimiento %>

<%= link_to 'Mostrar', @orden_mantenimiento %> |
<%= link_to 'Regresar', orden_mantenimientos_path %>
