<h1>New Orden Mantenimiento</h1>

<div class="container">

  <div class="row">

    <div class="col-xs-6">

      <%= render 'form', orden_mantenimiento: @orden_mantenimiento %>

    </div>

    <div class="col-xs-4">

      <%=	 render partial: 'orden_mantenimientos/historial', object: @orden_mantenimiento %>

    </div>

  </div>

</div>



<%= link_to 'Back', orden_mantenimientos_path %>
