<div class="page-header">
  <h1>Orden de Mantenimiento <small>Nueva</small></h1>
</div>

<div class="container">

  <div class="row">

    <div class="col-xs-6">

      <%= render 'form', orden_mantenimiento: @orden_mantenimiento %>

      <%= link_to 'Regresar', orden_mantenimientos_path, class: "btn btn-default" %>

    </div>

    <div class="col-xs-4">

      <%=	 render partial: 'orden_mantenimientos/historial', object: @orden_mantenimiento %>

    </div>

  </div>

</div>




